<%- include('../shared/header') %>

<h2>Edit Blog</h2>

<form action="/blogs/update/<%= blog.id %>" method="POST">
  <input type="text" name="title" value="<%= blog.title %>" required />
  <br><br>
  <textarea name="content" required><%= blog.content %></textarea>
  <br><br>
  <button>Update</button>
</form>

<%- include('../shared/footer') %>
