<%- include('../shared/header') %>

<a href="/blogs/create">➕Create Blog</a>


<% if (blogs && blogs.length > 0) { %>
  <ul>
    <% blogs.forEach(blog => { %>
      <li style=" width:max-content; padding: 5px;">
        <strong><%= blog.title %></strong>
        <br>

        <a href="/blogs/<%= blog.id %>">View</a>
        <a href="/blogs/edit/<%= blog.id %>" >Edit</a>

        <form action="/blogs/delete/<%= blog.id %>" method="POST" style="display:inline;">
          <button>Delete</button>
        </form>
      </li>
      <br>
    <% }) %>
  </ul>
<% } else { %>
  <p style="color: red;">No blogs available</p>
<% } %>

<%- include('../shared/footer') %>
